@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[16px] bg-gray-100;
  }
  header {
    @apply bg-hero md:bg-hero-d h-[287px] md:h-[395px] bg-cover bg-center bg-no-repeat flex justify-between items-start pt-[30px] md:pt-11 px-6 lg:px-40;
  }
  main {
    @apply relative -mt-12 sm:-mt-[85px] space-y-10 min-w-[350px] w-full sm:max-w-[773px] mx-auto;
  }
  h1 {
    @apply font-bold text-xl sm:text-3xl;
  }
  h2 {
    @apply font-bold text-lg;
  }
  h3 {
    @apply font-bold hover:text-Moderate-cyan;
  }
  h4 {
    @apply font-bold text-Moderate-cyan;
  }
  p {
    @apply text-Dark-gray;
  }
  section {
    @apply bg-white mx-5 rounded-md text-center px-4 sm:px-10 py-10 sm:py-12;
  }
  form {
    @apply bg-white mx-5 rounded-md text-center px-4 sm:px-10 py-10 sm:py-12;
  }
  input[type="radio"] {
    @apply h-5 w-5  accent-Dark-cyan;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    @apply pl-2 py-3 rounded-full font-bold outline-none w-20 caret-Moderate-cyan;
  }
}

@layer components {
  .btn-main {
    @apply rounded-full bg-Moderate-cyan px-6 py-3 text-white hover:bg-Dark-cyan;
  }
  .btn-disabled {
    @apply rounded-full bg-Dark-gray px-6 py-3 text-white;
  }
  .btn-bk-mk {
    @apply rounded-full flex items-center bg-gray-100;
  }
  .stats {
    @apply font-bold text-4xl text-black;
  }
  .divider {
    @apply h-px sm:h-[90px] max-w-[90px] sm:w-px mx-auto sm:my-auto bg-gray-200 text-center my-5;
  }
  .product {
    @apply border-2 border-gray-300 rounded-lg p-5 space-y-5;
  }
  .products-left {
    @apply flex items-center space-x-2;
  }
  .products-amt {
    @apply font-bold text-3xl text-black;
  }
  .div-input {
    @apply rounded-full border focus-within:border-Moderate-cyan flex items-center pl-5;
  }
  #desktop-menu > a {
    @apply hover:bg-white/20 px-4 py-2 rounded-full transition-all duration-300;
  }
  #mobile-menu > nav > a {
    @apply hover:bg-black/10 transition-all duration-300;
  }
}
